@page
@model ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Паролата е сменена";
}

<div class="auth-page-wrapper">
    <div class="auth-card text-center">
        <div class="auth-header">
            <h1>Паролата е сменена успешно</h1>
            <p>Вече можеш да влезеш с новата си парола.</p>
        </div>

        <div class="auth-links mt-4">
            <a asp-page="./Login" class="btn btn-primary auth-main-btn">Към вход</a>
        </div>
    </div>
</div>