@model ASPGymCentre.Models.Reservation

@{
    ViewData["Title"] = "Създай резервация";
}

<div class="form-page-box">
    <h1>Създай резервация</h1>
    <hr />

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="ClientId" class="form-label">Клиент</label>
            <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId">
                <option value="">-- Изберете клиент --</option>
            </select>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ExerciseId" class="form-label">Тренировка</label>
            <select asp-for="ExerciseId" class="form-control" asp-items="ViewBag.ExerciseId">
                <option value="">-- Изберете тренировка --</option>
            </select>
            <span asp-validation-for="ExerciseId" class="text-danger"></span>
        </div>

        <div class="page-actions">
            <button type="submit" class="btn btn-primary page-btn">Запази</button>
            <a asp-action="Index" class="btn btn-secondary page-btn">Обратно към списъка</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}