@model ASPGymCentre.Models.PlanCategory

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<div class="details-box">
    <h3>Сигурни ли сте, че искате да изтриете това?</h3>

    <h4>Категория план</h4>
    <hr />

    <div class="details-grid">
        <div class="details-label">Име</div>
        <div class="details-value">@Model.Name</div>

        <div class="details-label">Описание</div>
        <div class="details-value">@Model.Description</div>
    </div>

    <form asp-action="Delete" method="post" class="page-actions">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger btn-sm action-btn" />
        <a asp-action="Index" class="btn btn-secondary btn-sm page-btn">Обратно към списъка</a>
    </form>
</div>