@model ASPGymCentre.Models.PlanCategory

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div class="details-box">
    <h4>Категория план</h4>
    <hr />

    <div class="details-grid">
        <div class="details-label">Име</div>
        <div class="details-value">@Model.Name</div>

        <div class="details-label">Описание</div>
        <div class="details-value">@Model.Description</div>
    </div>

    <div class="page-actions">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm action-btn">Редактирай</a>
        }

        <a asp-action="Index" class="btn btn-secondary btn-sm page-btn">Обратно към списъка</a>
    </div>
</div>